*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: #e0565b;
  --yellow: #ffffd6;
  --dark: #2e2e48;
  --brown: #3f3f1a;
  --light: #fafafc;
  --gray: #efeff5;
  --white: #fff;
  --sidePadding: 3rem;
  --maxWidth: 40%;
  --containerWidth: 1200px;
}
body.dark {
  --dark: #fafafc;
  --white: #112;
  --light: #1e1e38;
  --gray: #002;
}
body.dark section.light {
  --light: #fafafc;
  --dark: #2e2e48;
}
body.dark .mapboxgl-popup {
  --dark: #2e2e48;
  --white: #fff;
}
body.dark .mapgl-container {
  filter: invert(100%) hue-rotate(180deg);
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: var(--light);
  color: var(--dark);
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
}

input,
a,
button {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}
::selection {
  color: var(--light);
  background: var(--red);
}

.btn {
  --color: var(--dark);
  --bgcolor: var(--light);
  display: inline-block;
  white-space: nowrap;
  padding: 0.75rem 1.5rem;
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--color);
  background: var(--bgcolor);
  border-radius: 0.66rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1.5rem -0.5rem currentColor;
}
.btn.btn-dark {
  --color: var(--light);
  --bgcolor: var(--dark);
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 0 2px var(--color), 0 0 0 4px var(--bgcolor);
}
.btn:active {
  transform: scale(0.95);
}

section:not(.hero) {
  margin: 3rem var(--sidePadding) 0;
}
section:last-of-type {
  margin-bottom: 3rem;
}
section h2 {
  font-weight: 800;
  font-size: 1.75rem;
}

#nprogress .bar {
  background: var(--red);
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--red), 0 0 5px var(--red);
}

@media (max-width: 36rem) {
  :root {
    --sidePadding: 1.5rem;
    --maxWidth: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  section h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 48rem) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 81rem) {
  html {
    font-size: 18px;
  }
  section:not(.hero) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}


/* *****************************************FOOTER STYLE*************************** */

footer{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.foott{
  width: 100%;
  background: #00121b;
  display: block;
}
.saw{
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display:flex;
  flex-wrap:wrap;
  box-sizing: border-box;
  justify-content: center;
}
.saww{
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}
h1{
  padding: 10px 0px;
  font-size: 25px;
  color: #fff;
}
.saww p{
color: grey;
font-size: 16px;
text-align: justify;
line-height: 25px;

}
h2{
  margin: 10px 0px;
  color: grey;
  font-size: 16px;
  font-weight: lighter;
}
.border{
  height: 3px;
  width: 90px;
  background-color: #ff9800;
}
ul{
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0,5px;/*espace entre les lettre*/
}
ul a{
  text-decoration:none;
  outline: none;
  color: #fff;
  transition: 0.3s;

}
ul a:hover{
  color: #ff9800;
}
ul li{
  margin: 10px 0px;
  height: 25px;
}
li i{
  margin-right: 20px;
}
.media{
  width: 100%;
  color: #fff;
  text-align: center;
}
.media a{
text-decoration: none;
}
.media i {
  height: 15px;
  width: 10px;
  margin: 20px 5px;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid grey;
  transition: 0.5s;

}
.media i:hover{
  background: grey;
}

.appTitle {
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #7069EA;
}

/* ******************************SECTION APP ************************** */
.section-tours {
  background-color: var(--color-gray-light);
  padding: var(--section-padding);
}

.tour-box__heading {
  text-align: center;
  margin-bottom: 4rem;
}

.tour-box__cards {
  display: flex;
  flex-flow: wrap;
  grid-template-columns: repeat(
    var(--three-col-layout),
    minmax(-webkit-min-content, 1fr)
  );
  grid-template-columns: repeat(
    var(--three-col-layout),
    minmax(min-content, 1fr)
  );
  gap: 3rem;
}

.t-card {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #000;
  width: 330px;
}
.t-card:hover .t-card__img {
  filter: brightness(0.8);
}
.t-card__img {
  max-width: 100%;
  width: 100%;
  height: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.t-card__content {
  padding: 2.5rem;
}
.t-card__content > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.t-card__title {
  text-align: center;
  border-bottom: 1px solid;
}
.t-card__description {
  text-align: center;
}
.t-card__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}
.t-card__items > * {
  padding: 0.2rem 1rem;
  background-color: 		#FFC0CB;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}


